# Ignore Gradle's project-specific cache directory:
.gradle

# Ignore Gradle's build output directories:
build
bin

# Ignore native libraries that get extracted when apps are run:
*.dll
*.so

# Ignore captured screenshots and videos:
/*.avi
/*.png

# Ignore IDE-specific directories:
/.idea/
