# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Wrapper
gradlew
gradlew.bat

# IDE files
.idea/

# Native libraries that get extracted once the project is run
/*.so
/*.dll
# <ADD THE MAC EXTENSION HERE>
